/* css sheet for trivia game */

#startButton {
    display: block;
}

h2 {
    display: none;
}

p {
    display: none;
}

.form-check {
    display: none;
}

#results {
    display: none;
}

#resetButton {
    display: none;
}